body{
  background-color: #fff5d7;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  text-align: center;
}
button{
  padding: 10px 20px;
  margin: 5px;
  border: thick 1px 05px #ff5e6c;
  border-radius: 4px;
  background-color: transparent;
  font:bold;
}
.nav-btn.active {
  background-color: #ff5e6c;
  color: black;
  font-weight: bold;
}

.worldClockSection{
  display: flex;
  justify-content: center;
  color: black;
  margin-bottom: 10px;
}
#worldClockTimes{
  color: black;
  margin: 15px;
  padding: 10px;
  font-size: large;
  
}
.country-time{
  margin-bottom: 10px;

}
#fun{
  margin: 20px;
}

.t-hour, .t-min , .t-sec{
  margin-left: 45px;
  padding-right: 28px;
  color: rgb(233, 233, 233);
 
}
#countDown{
  display: flex;
  justify-content: center;

  margin: 30px;
  font-size: 60px;
  margin-top: 0px;
  
}

.hour,.min,.sec{
  border: solid;
  margin: 5px;
  padding: 5px 10px;
  background-color: #ffaaab;
  color: white;
  border-radius: 8px;
}

select {
  appearance: none;
  width: 100px;
  font-size: 24px;
  text-align: center;
  
}

/* .list{
  margin: auto;
  height: 250px;
  width: 300px;
  border: solid;
  padding: 10px;
  border-radius: 5px;
  background-color:#ffff;
  display: flex ;
  justify-content: space-around;
} */

#display{
  margin: auto;
  font-size: larger;
  border: solid 2px;
  border-radius: 5px;
  width: 150px;
  background-color: #ffff;
  padding: 5px;
  font-weight: bolder;
}
#lapBtn{
  background-color: #ffaaab;
  margin-bottom: 25px;
}

ul{
  background-color: #ffff;
  width: 250px;
  margin: auto;
  border: solid 1px white;
  border-radius: 8px;
  height: 300px;
  padding-top: 10px;
}

#currentTime{
  margin: auto;
  margin-bottom: 20px;
  border: solid 1px white;
  background-color: #ffff;
  width: 100px;
  height: 50%;
  padding: 10px;
  border-radius: 55%;

}

input[type="time"] {
  padding: 8px 12px;
  font-size: 16px;
  font-family: Arial, sans-serif;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #f9f9f9;
  color: #333;
  width: 150px;
  cursor: pointer;
}

/* Remove spinner in WebKit browsers */
input[type="time"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  display: none;
}

#alarmTime{
  margin: auto;
  margin-bottom: 10px;
}

#alarmStatus{
  margin: auto;
  margin-top: 15px;
  border-top: solid 1px;
  width: 200px;
  padding: 10px;
  color: #ffaaab;
}